onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@vue-office/docx
onlyBuiltDependencies[]=@vue-office/excel
onlyBuiltDependencies[]=@vue-office/pptx
onlyBuiltDependencies[]=vue-demi
